html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(#304D63, #2BE7E8);
}

div.container {
  width: 100vw;
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #304D63;
  padding: 0 15px;
}

.header ul {
  list-style: none;
}

.header ul li {
  display: inline-block;
  padding: 10px;
}

.header ul li a {
  display: block;
  font-size: 30px;
  color: #fff;
}

section.container-slider {
  display: flex;
  justify-content: center;
  align-items: center;
}

section.container-slider .slider {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  background-color: #fff;
  border: 1px #444 solid;
}

section.container-slider .slider .img_banner {
  width: 100%;
}

@-webkit-keyframes snowman {
    from {-webkit-transform: rotate(4deg)}
    to   {-webkit-transform: rotate(-4deg)}
}

@keyframes snowman {
    from {transform: rotate(4deg)}
    to   {transform: rotate(-4deg)}
}

.container .logo {
    -webkit-animation: snowman 2s alternate infinite ease-in-out;
    animation: snowman 2s alternate infinite ease-in-out;
    position: absolute;
    top: -25px;
}

.container p.titulo strong {
  font-size: 48px;
  color: #F2D096;
  margin-right: -10px;
}

.container p.titulo {
  font-size: 30px;
}

.btn-slider {
  width: 100vw;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteudo {
  width: 80vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px;
  border: 1px RGB(143, 185, 170, 0.1) solid;
  border-radius: 20px;
}

.conteudo h2 {
  width: 100%;
  font-size: 2rem;
  color: #FFFFFF;
  letter-spacing: 1px;
  animation: rev-block 2s alternate infinite ease-in-out;
}

.item-slider {
  width: 20px;
  height: 20px;
  background-color: #444;
  border-radius: 50%;
  margin-bottom : 20px;
  margin: 1em;
}

.item-slider.active {
  background-color: #F2D096;
  border: 1px #444 solid;
}

.slider .bloco-slide {
  display: none;
  padding: 10px;
  text-align: center;
}

.slider .bloco-slide.active {
  display: block;
}

.slider .btn-start {
  width: 100%;
  height: 25px;
  background-color: #304D63; 
  padding: 5px;
  font-size: 16px;
  color: #FFF;
  cursor: pointer;
  border: 0;
  border-radius: 20px;
}

section.categorias {
  padding: 0 20px;
  margin: 0 15px;
  background-color: #fff;
}

section.categorias .listar-categorias {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  padding: 5px;
  background-color: #fff;
}

section.categorias .listar-categorias .categoria {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  width: calc(30% - 5px);
  font-size: larger;
}

section.categorias .listar-categorias .categoria .icone {
  font-size: 2rem;
  color: #304D63;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

section.categorias .listar-categorias h2 {
  font-size: small;
  text-align: center;
}

section.categorias h1.titulo {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  font-size: 1rem;
  font-weight: 100;
  color: #fff;
  background-color: #304D63;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 10px;
}

@-webkit-keyframes rev-block {
    from {-webkit-transform: scale(1)}
    to   {-webkit-transform: scale(0.7)}
}

@keyframes rev-block {
    from {-webkit-transform: scale(1)}
    to   {-webkit-transform: scale(0.7)}
}

@media (max-width: 768px) {

  section.container-slider .slider {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: #FB8D42;
  }

}